* {
    font-family: 'Poppins', sans-serif;
}

.t{
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
}

h3 {
    padding: 0.3rem;
}

.card {
    /* other default style */
    background-color: #222831;
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    text-align: center;
    width: 33rem;
    height: 19.5rem;
    margin-top: -30%;
    background-image: var(--gradient);
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.03);
    color: white;
}

.bc {
    text-align: center;
    border: 1px solid #222831;
    background-color: #22283100;
    color: white;
}

.card-holder {
    margin-top: 15%;
}

/* @media (max-width: 768px) {
    .card-holder {
        grid-template-columns: 1fr 6fr 1fr;
    }

    .card {
        padding: 20px;
    }
} */

.card-header {
    text-align: left;
    margin-top: 2%;
    color: white;
    background-color: #ffffff;
}


.btn {
    margin-top: 3%;
    color: #ffffff;
    background-color: #222831;
    font-size: 19px;
    border: 1px solid #222831;
    border-radius: 5px;
    padding: 15px 50px;
    cursor: pointer;
    width: 100%;
}

.btn-go {
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #222831;
    border: 1px solid #222831;
    width: 13%;
}


i {
    cursor: pointer;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255)
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.form-control:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem #222831;
}

.form-control {
    font-size: 1.4rem;
}

.error {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.pending {
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}

img {
    max-width: 10rem;
}

.temp {
    font-size: 5rem;
    font-weight: 500;
}

.temp .numb {
    font-weight: 600;
}

.temp .deg {
    font-size: 5rem;
    margin: 10px 5px 0px 0px;
}

.location {
    align-items: center;
    font-size: 21px;
    margin-bottom: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
    --gradient: linear-gradient(135deg, #72EDF2 10%, #8e62f5 100%);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.25em;
}

.clear {
    clear: both;
}

body {
    background-color: #222831;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #343d4b; */
    background-image: url(https://i.pinimg.com/564x/4f/ae/a9/4faea92fec8dfebab2f329f332fd6c00.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    background-color: #222831;
    color: #ffffff;
    height: 550px;
    width: 820px;
    margin: auto auto;
}

@media(max-width: 1028px) {
    .container {
        margin-top: 3rem;
        height: 330px;
        width: 330px;
    }

    .card {
        height: 310px;
        width: 410px;
    }

    body {
        background-image: url(https://i.pinimg.com/564x/27/d4/3e/27d43e2b23d2ba34a336248a81e2f520.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    .week-list>li {
        padding: 7px;
        width: 3.5rem;
    }

    .cityName {
        font-size: 0.85rem;
        font-size: 0.85rem;
    }
    .location-container{
        margin-top: -49px;
    }
}

.weather-side {
    color: #222831;
    position: relative;
    height: 100%;
    border-radius: 5px;
    background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
    width: 330px;
    -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
    transform: translateZ(0) scale(1.02) perspective(1000px);
    float: left;
}

.weather-side:hover {
    -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
    transform: scale(1.1) perspective(1500px) rotateY(10deg);
}

.weather-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: var(--gradient);
    border-radius: 5px;
    opacity: 0.8;
}

.date-container {
    position: absolute;
    top: 25px;
    left: 25px;
}

.date-dayname {
    margin: 0;
}

.date-day {
    display: block;
}

.location {
    display: inline-block;
    margin-top: 10px;
}

.location-icon {
    display: inline-block;
    height: 0.8em;
    width: auto;
    margin-right: 5px;
}

.weather-container {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.weather-icon.feather {
    height: 60px;
    width: auto;
}

.weather-temp {
    margin: 0;
    font-weight: 700;
    font-size: 4em;
}

.weather-desc {
    margin: 0;
}

.info-side {
    position: relative;
    float: left;
    height: 100%;
    padding-top: 25px;
}

.today-info {
    padding: 5px;
    margin: 0 25px 25px 25px;
    /* 	box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25); */
    border-radius: 5px;
}

.today-info>div:not(:last-child) {
    margin: 0 0 10px 0;
}

.today-info>div .title {
    float: left;
    font-weight: 700;
}

.today-info>div .value {
    float: right;
}

.week-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 35px;
    -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    /* background: # */
}

.week-list>li {
    float: left;
    padding: 9px;
    cursor: pointer;
    -webkit-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
    border-radius: 5px;
}

.week-list>li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background: #fff;
    color: #222831;
    -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2)
}

.week-list>li.active {
    background: #fff;
    color: #222831;
    border-radius: 5px;
}

.week-list>li .day-name {
    display: block;
    margin: 10px 0 0 0;
    text-align: center;
}

.week-list>li .day-icon {
    display: block;
    height: 30px;
    width: auto;
    margin: 0 auto;
}

.week-list>li .day-temp {
    display: block;
    text-align: center;
    margin: 10px 0 0 0;
    font-weight: 700;
}

.location-container {
    padding: 25px 35px;
}

.location-button {
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    background-image: var(--gradient);
    color: #222831;
    font-weight: 700;
    -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    -o-transition: transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.location-button:hover {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.location-button .feather {
    height: 1em;
    width: auto;
    margin-right: 5px;
}
